.side-bar {
  background-color: $mainBlackColor;
  width: 300px;
  height:100px;
  float: left;
}

.side-header__box{
  height: 100px;
  width: 260px;
  height: 20px;
  margin:40px 20px;
  display: flex;
  justify-content: space-between;
   &__name{
     font-size: 16px;
     color: $mainWhiteColor;
     font-weight: bold;
     line-height: 20px;
    }
   &__menu{
     display: flex;
     li {
       margin-left: 5px;
       a {
         color: $mainWhiteColor;
       }
     }
   }
}

 .groups{
   background-color:$mainGrayColor;
   height:calc(100vh - 100px);
   clear: both;
   padding: 20px 20px 0;
   width:300px;
   overflow: scroll;
   .group {
     width:100%;
     margin-bottom: 40px;
     a {
      text-decoration: none;
      color: $mainWhiteColor;
    }
     
     &__group-name {
       font-size: 15px;
       margin-bottom: 5px;
     }
     &__latest-message {
       font-size: 11px;
       padding-left: 20px;
     }
   }
 }